* {
  transition: all 150ms ease-in; }

body {
  margin: 0;
  background-color: #000; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-bottom: 5px; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2em; }

a {
  text-decoration: none; }

ul {
  margin: 0px;
  list-style-type: none; }

li {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-align: left; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000; }

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: #000;
  height: 16vh; }

.container_logo {
  position: absolute;
  top: 5vh;
  left: 5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #FFF;
  z-index: 3; }

.logo_nasa {
  position: fixed;
  width: 100px;
  height: auto;
  z-index: 25;
  top: 20px;
  right: 20px; }
  .logo_nasa:hover {
    cursor: pointer; }

.mt-3 {
  margin-top: 3em; }

.mt-1 {
  margin-top: 1em; }

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: 2; }

.main_cat {
  position: absolute;
  top: 40vh; }

.gradient_fade {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80vh;
  background: -webkit-linear-gradient(black 29%, transparent 100%);
  background: -o-linear-gradient(black 29%, transparent 100%);
  background: linear-gradient(black 29%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

.grid_link {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; }

.grid {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; }

.grid_content {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.apod_link {
  color: #FFF;
  position: absolute;
  z-index: 5;
  top: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 10px; }
  .apod_link:hover {
    border-bottom: 2px solid #FFF; }

.mars_link {
  color: #FFF;
  position: absolute;
  z-index: 5;
  top: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 10px; }
  .mars_link:hover {
    border-bottom: 2px solid #FFF; }

.info_trigger {
  position: absolute;
  color: #FFF;
  bottom: 10px;
  right: 15px;
  z-index: 15; }

.info_text {
  width: 20vw;
  height: auto;
  position: absolute;
  color: #FFF;
  bottom: 45px;
  right: 25px;
  z-index: 15; }

.img_bg {
  position: absolute;
  z-index: 2; }

@media (max-width: 768px) {
  .container_logo {
    font-size: 1.5em; }
  .logo_nasa {
    right: 5vw;
    top: 3vh; }
  .grid {
    display: block;
    height: 200%; }
    .grid .grid_content {
      width: 100%;
      height: 50%; }
  .grid_link {
    display: block; }
    .grid_link .grid_content {
      width: 100%;
      height: auto; }
  .apod_link {
    top: 50%; }
  .mars_link {
    top: 150%; }
  .info_trigger {
    padding: 5px 10px;
    border: 1px solid #FFF;
    border-radius: 3px;
    bottom: 25px;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .apod_link {
    font-size: 1.4em; }
  .mars_link {
    font-size: 1.4em; }
  .container_logo {
    font-size: 1.2em; }
  .logo_nasa {
    position: absolute; }
  .info_text {
    text-align: center;
    width: 90%;
    bottom: 60px; } }
